{% extends "base.html" %}
{% block content %}
<style>
    [id^="select2-direBans-container-choice-"],
    [id^="select2-radiantBans-container-choice-"] {
        color: #BF2E1A;
        font-weight: 700;
    }
</style>
<div class="row">
    <div class="col">   
        <div class="container py-5 text-light">
            <header class="mb-4">
                <h1 class="text-center display-4 fw-bold mb-5">Captains Mode</h1>
                <h3 class="text-center fw-bold mb-3">How It Works</h3>
                <p class="text-center lead">
                    This page also uses AI to generate hero suggestions. Start by selecting your faction (Radiant or Dire). To receive the first suggestions, input at least one ban for both allies and enemies.
                    Unlike the Normal/Ranked mode, the suggestions button remains enabled after each press. Suggestions update dynamically with each new ban or pick added, whether allied or enemy.
                    If you make a mistake, use the reset button to clear all selections and start over.<br>
                    <span class="border-bottom text-warning">PLEASE NOTE: the suggestions always and only refer to picks, not bans!</span>
                </p>
            </header>
        </div>
    </div>
</div>
<div class="row mt-5"> <!-- Row radio buttun radiant/dire -->
    <div class="col">
        <div class="d-inline-block me-5" style="font-weight: 600;">Which side are you playing?</div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sideChosen" id="radiantTeam" value="Radiant">
            <label class="form-check-label" for="inlineRadio1">Radiant</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sideChosen" id="direTeam" value="Dire">
            <label class="form-check-label" for="inlineRadio2">Dire</label>
        </div>
    </div> 
</div>
<div class="row mt-5"> <!-- Row Row containing input groups and button-->
    <div class="col-lg-5 col-sm-12 mb-5">
        <div class="input-group mb-3">
            <div class="input-group-text input-group-text-cm">Radiant Bans</div>
            <select class="form-select select2" id="radiantBans" data-placeholder="Select Radiant heroes banned">
                {% for hero in heroes %}
                    <option value="{{ hero }}">{{ hero }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group">
            <div class="input-group-text input-group-text-cm">Radiant Picks</div>
            <select class="form-select select2" id="radiantPicks" data-placeholder="Select Radiant heroes picked">
                {% for hero in heroes %}
                    <option value="{{ hero }}">{{ hero }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-lg-5 col-sm-12 mb-5">
        <div class="input-group mb-3">
            <div class="input-group-text input-group-text-cm">Dire Bans</div>
            <select class="form-select select2" id="direBans" data-placeholder="Select Dire heroes banned">
                {% for hero in heroes %}
                    <option value="{{ hero }}">{{ hero }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group">
            <div class="input-group-text input-group-text-cm">Dire Picks</div>
            <select class="form-select select2" id="direPicks" data-placeholder="Select Dire heroes picked">
                {% for hero in heroes %}
                    <option value="{{ hero }}">{{ hero }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-lg-2 col-sm-12 mb-5">
        <button id="suggestButton" type="button" class="btn btn-success">SUGGEST PICKS AND BANS</button>
    </div>
</div>
<div class="row mb-4"> <!-- Row containing textbox with generated suggestions -->
    <div class="col-12">
        <div id="picksCMTextBox" class="border p-3" style="font-family: 'Courier New', monospace; height: auto;">
            <p>Suggestions: </p>
            <p id="generatedText"><span id="cursor" class="cursor">|</span></p>
        </div>
    </div>
</div>
<div class="row justify-content-center mb-4"> <!-- Row containing reset button -->
    <div class="col-8 col-lg-4 col-sm-6">
        <button type="button" class="btn btn-danger" id="resetPage">RESET</button>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('input[name="sideChosen"]').prop('checked', false); // Removes any choice made in the radio buttons
        $('.select2').val(null).trigger('change'); // Reset all select2 at loading page (F5)
        $('.select2').select2({ // Initializing Select2
            theme: "bootstrap-5",
            placeholder: function () {
                return $(this).data('placeholder');
            },
            multiple: true
        });
        $('.select2').on('select2:open', function () { // Force focus at the opening of the select2
            const searchField = document.querySelector('.select2-container--open .select2-search__field');
            if (searchField) {
                searchField.focus();
            }
        });
        function updateSelectOptions() { // Function that update available options inside select2
            const allSelectedValues = new Set();
            $('.select2').each(function() { // Collect all selected options from all select2
                const values = $(this).val(); // These values are array type being a multiple type select
                if (values) {
                    values.forEach(value => allSelectedValues.add(value));
                }
            });
            $('.select2').each(function() { // Disables all options already selected previously
                const currentSelect = $(this);
                const currentValues = currentSelect.val(); 
                currentSelect.find('option').each(function() { 
                    const optionValue = $(this).attr('value');
                    if (allSelectedValues.has(optionValue) && !currentValues.includes(optionValue)) { // Disable the option if it is already selected in another select2 and it is not the same
                        $(this).prop('disabled', true);
                    } else {
                        $(this).prop('disabled', false);
                    }
                });
            });
        }
        $('.select2').on('change', function() { // Updates available options when a select2 change value
            updateSelectOptions();
        });
        updateSelectOptions(); // Calls the function to update the options
        function isTeamSelected() { // Function to verify if the radio button "sideChosen" on top is selected
            const sideChosen = $('input[name="sideChosen"]:checked').val();
            return sideChosen !== undefined; // Returns true if an option is selected; otherwise, false.
        }
        function areBansSelected() { // Function to verify if there is at least 1 selected option in both bans teams select2 and assign their values
                const radiantBans = $('#radiantBans').val();
                const direBans = $('#direBans').val();
                return (radiantBans && radiantBans.length > 0) && (direBans && direBans.length > 0);
        }
        function simulateTyping(elementId, text, cursorId) { //Function to simulate typing inside the textbox
            const element = document.getElementById(elementId);
            const cursor = document.getElementById(cursorId);
            element.innerHTML = "";
            let index = 0;
            const interval = setInterval(() => {
                if (index < text.length) {
                    element.innerHTML += text.charAt(index);
                    index++;
                } else {
                    clearInterval(interval);
                    cursor.style.display = "none"; // Hide the cursor after the writing phase
                }
            }, 14); // This value is in ms. Closest to 0 means faster typing
            cursor.style.visibility = "visible"; //Simulate blinking cursor like in command prompt
            setInterval(() => {
                cursor.style.visibility = (cursor.style.visibility === "hidden") ? "visible" : "hidden";
            }, 500); // This value is in ms. Closest to 0 means faster blinking cursor
        }
        document.getElementById("suggestButton").addEventListener("click", (event) => { //Event to manage waht appens after suggestion button being pressed
            const button = event.target;
            if (!isTeamSelected()) { // Error managment
                    $('#warningMessage').remove();
                    const warningHtml = '<div id="warningMessage" class="alert alert-danger mt-3" role="alert">Please select your faction before proceeding!</div>';
                    $(button).closest('.row').before(warningHtml);
                    return;
            }
            if (!areBansSelected()) { // Error managment
                $('#warningMessage').remove();
                const warningHtml = '<div id="warningMessage" class="alert alert-danger mt-3" role="alert">Please select at least one banned hero for both teams before proceeding!</div>';
                $(button).closest('.row').before(warningHtml); 
                return;
            }
            $('#warningMessage').remove();
            const data = { //Gathering the selected options and assign them to the associated variables
                radiantBans: $('#radiantBans').val(),
                radiantPicks: $('#radiantPicks').val(),
                direBans: $('#direBans').val(),
                direPicks: $('#direPicks').val(),
                sideChosen: $('input[name="sideChosen"]:checked').val(),
            };
            $.ajax({ //Pass data (select + radio button) to the backend via AJAX
                url: "/suggestCM", // Defined endpoint in flask
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(data), // Serialize data in JSON
                success: function(response) { //If the responde prompt from Gemini API is received, call the function that simulate the typing in the first textbox
                    simulateTyping("generatedText", response.prompt, "cursor"); 
                },
                error: function() { //Prompt error message if not
                    alert("An error occurred while processing your request. Please try again.");
                }
            });
        });
        document.getElementById('resetPage').addEventListener('click', function() { //Event to manage the reset button
            $('.select2').val(null).trigger('change'); // Reset all select2
            $('input[name="sideChosen"]').prop('checked', false); // If a choice was made in the radio button, is being resetted
            $('#warningMessage').remove(); // Remove any warning messages
            $('#generatedText').html('<span id="cursor" class="cursor">|</span>'); // Reset any Gemini API generated text inside textbox
            updateSelectOptions(); // Calls the function to update the options
        });
    });
</script>
{% endblock %}
{% set title = "Dota 2 AI Picker - Captains Mode" %}