{% extends "base.html" %}
{% block content %}
<style>
    /* Selettore che ignora la parte dinamica -a811- */
    [id^="select2-direBans-container-choice-"],
    [id^="select2-radiantBans-container-choice-"] {
        color: #BF2E1A;
        font-weight: 700;
    }
</style>
<div class="row align-items-center" style="height: 15vh;">
    <h1>CAPTAINS MODE</h1>
</div>
<div class="row mt-5"> <!-- Row selettore radiant/dire -->
    <div class="col">
        <div class="d-inline-block me-5" style="font-weight: 600;">Which side are you playing?</div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sideChosen" id="radiantTeam" value="Radiant">
            <label class="form-check-label" for="inlineRadio1">Radiant</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sideChosen" id="direTeam" value="Dire">
            <label class="form-check-label" for="inlineRadio2">Dire</label>
        </div>
    </div> 
</div>
<div class="row mt-5"> <!-- Row contenitore input group e pulsante-->
    <div class="col-lg-5 col-sm-12 mb-5">
        <div class="input-group mb-5">
            <div class="input-group-text input-group-text-cm">Radiant Bans</div>
            <select class="form-select select2" id="radiantBans" data-placeholder="Select Radiant heroes banned">
                {% for hero in heroes %}
                    <option value="{{ hero }}">{{ hero }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group">
            <div class="input-group-text input-group-text-cm">Radiant Picks</div>
            <select class="form-select select2" id="radiantPicks" data-placeholder="Select Radiant heroes picked">
                {% for hero in heroes %}
                    <option value="{{ hero }}">{{ hero }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-lg-5 col-sm-12 mb-5">
        <div class="input-group mb-5">
            <div class="input-group-text input-group-text-cm">Dire Bans</div>
            <select class="form-select select2" id="direBans" data-placeholder="Select Dire heroes banned">
                {% for hero in heroes %}
                    <option value="{{ hero }}">{{ hero }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group">
            <div class="input-group-text input-group-text-cm">Dire Picks</div>
            <select class="form-select select2" id="direPicks" data-placeholder="Select Dire heroes picked">
                {% for hero in heroes %}
                    <option value="{{ hero }}">{{ hero }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-lg-2 col-sm-12 mb-5">
        <button id="suggestButton" type="button" class="btn btn-success">SUGGEST PICKS AND BANS</button>
    </div>
</div>
<div class="row mt-4 mb-4"> <!-- Row contenitore suggerimenti -->
    <div class="col-12">
        <div id="picksCMTextBox" class="border p-3" style="font-family: 'Courier New', monospace; height: auto;">
            <p>Suggestions: </p>
            <p id="generatedText"><span id="cursor" class="cursor">|</span></p>
        </div>
    </div>
</div>
<div class="row justify-content-center mb-4"> <!-- Row contenitore pulsante reset -->
    <div class="col-8 col-lg-4 col-sm-6">
        <button type="button" class="btn btn-danger" id="resetPage">RESET</button>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('input[name="sideChosen"]').prop('checked', false); // Rimuove l'eventuale scelta fatta nei radio button
        $('.select2').val(null).trigger('change'); // Reset di tutte le select2 al caricamento della pagina (F5)
        $('.select2').select2({ // Inizializzazione di Select2
            theme: "bootstrap-5",
            placeholder: function () {
                return $(this).data('placeholder');
            },
            multiple: true
        });
        $('.select2').on('select2:open', function () {
            const searchField = document.querySelector('.select2-container--open .select2-search__field');
            if (searchField) {
                searchField.focus();
            }
        });
        function updateSelectOptions() { // Funzione per aggiornare le opzioni disponibili nelle select
            const allSelectedValues = new Set();
            
            $('.select2').each(function() { // Raccoglie tutti i valori selezionati da tutte le select
                const values = $(this).val(); // Ottiene i valori selezionati (che sono di tipo array essendo una select multiple)
                if (values) {
                    values.forEach(value => allSelectedValues.add(value)); // Aggiungi ogni valore al Set
                }
            });
            $('.select2').each(function() { // Disabilita tutti i valori già selezionati nelle varie select
                const currentSelect = $(this);
                const currentValues = currentSelect.val(); // Ottiene i valori selezionati (che sono di tipo array essendo una select multiple)
                currentSelect.find('option').each(function() { // Disabilita le opzioni già selezionate
                    const optionValue = $(this).attr('value');
                    if (allSelectedValues.has(optionValue) && !currentValues.includes(optionValue)) { // Disabilita se l'opzione è già selezionata in un'altra select e non è la stessa
                        $(this).prop('disabled', true);
                    } else {
                        $(this).prop('disabled', false);
                    }
                });
            });
        }
        $('.select2').on('change', function() { // Aggiorna le opzioni disponibili quando una select cambia valore
            updateSelectOptions();
        });
        updateSelectOptions(); // Aggiorna le opzioni all'avvio della pagina
        function isTeamSelected() { // Funzione per verificare se la scelta nel radio "sideChosen" è stata fatta
            const sideChosen = $('input[name="sideChosen"]:checked').val();
            return sideChosen !== undefined; // Restituisce true se un'opzione è selezionata, altrimenti false
        }
        function areBansSelected() { // Funzione per verificare che ci sia almeno una selezione in entrambe le select dei ban
                const radiantBans = $('#radiantBans').val();
                const direBans = $('#direBans').val();
                return (radiantBans && radiantBans.length > 0) && (direBans && direBans.length > 0); // Controlla se ci sono selezioni in entrambe le select dei bans
        }

        
        function simulateTyping(elementId, text, cursorId) { // Funzione che serve a simulare la digitazione nella textbox
            const element = document.getElementById(elementId);
            const cursor = document.getElementById(cursorId);
            element.innerHTML = ""; // Reset dell'elemento
            let index = 0;
            const interval = setInterval(() => {
                if (index < text.length) {
                    if (text.charAt(index) === "<" && text.substr(index, 4) === "<br>") {
                        element.innerHTML += "<br>";
                        index += 4;
                    } else {
                        element.innerHTML += text.charAt(index);
                        index++;
                    }
                } else {
                    clearInterval(interval);
                    cursor.style.display = "none"; // Nasconde il cursore dopo aver scritto
                }
            }, 14); // Tempo in millisecondi. Indica quanti millisecondi servono a scrivere un carattere. Più il valore è piccolo e più velocemente verrà scritto dinamicamente il testo
            cursor.style.visibility = "visible"; // Effetto del cursore lampeggiante
            setInterval(() => {
                cursor.style.visibility = (cursor.style.visibility === "hidden") ? "visible" : "hidden";
            }, 500);
        }
        
        document.getElementById("suggestButton").addEventListener("click", (event) => { // Evento che gestisce quello che succede alla pressione del pulsante di suggerimento AI
            const button = event.target;
            if (!isTeamSelected()) {
                    $('#warningMessage').remove();
                    const warningHtml = '<div id="warningMessage" class="alert alert-danger" role="alert">Please select your faction before proceeding!</div>';
                    $(button).closest('.row').before(warningHtml);
                    return;
            }
            if (!areBansSelected()) {
                $('#warningMessage').remove(); // Rimuovi il messaggio di avviso precedente
                const warningHtml = '<div id="warningMessage" class="alert alert-danger" role="alert">Please select at least one banned hero for both teams before proceeding!</div>';
                $(button).closest('.row').before(warningHtml); // Mostra il nuovo messaggio di avviso
                return; // Interrompe l'esecuzione visto che la condizione nella funzione "areBansSelected" non è soddisfatta
            }
            $('#warningMessage').remove(); // Rimove eventuali messaggi di warning
            const data = { // Recupera i valori selezionati nelle 4 select + scelta radio button
                radiantBans: $('#radiantBans').val(),
                radiantPicks: $('#radiantPicks').val(),
                direBans: $('#direBans').val(),
                direPicks: $('#direPicks').val(),
                sideChosen: $('input[name="sideChosen"]:checked').val(),
            };
            $.ajax({ // Invia i dati racconti (select + radio button) al server tramite AJAX
                url: "/suggestCM",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(data), // Serializza i dati in JSON
                success: function(response) {
                    simulateTyping("generatedText", response.prompt, "cursor"); // Simula la digitazione usando il testo restituito dall prompt di risposta di Gemini AI
                },
                error: function() {
                    alert("An error occurred while processing your request. Please try again.");
                }
            });
        });
        document.getElementById('resetPage').addEventListener('click', function() { // Evento che gestisce quello che succede alla pressione del pulsante rosso di reset
            $('.select2').val(null).trigger('change'); // Reset di tutte le select2
            $('input[name="sideChosen"]').prop('checked', false); // Rimuove l'eventuale scelta fatta nei radio button
            $('#warningMessage').remove(); // Rimove eventuali messaggi di warning
            $('#generatedText').html('<span id="cursor" class="cursor">|</span>'); // Reset testo generato da Gemini AI nella textbox
            updateSelectOptions(); // Aggiorna le opzioni disponibili
        });
    });
</script>
{% endblock %}
{% set title = "AI Picker Suggestor for Captains Mode" %}